name: feature

on:
  push:
    branches-ignore:
      - 'master'
      - 'develop'

jobs:
  build_angular:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build

# run angular tests
# run analysis - sonar

